@model List<Product>

@section Footer{
    <div>
        Only For Index Footer
    </div>
}

@foreach (var product in Model)
{
    <div>
        <h3>@product.ProductName</h3>
        <p>@product.Price</p>
        <a href="/Product/Get/@product.ProductId">Detaylar</a>
    </div>
}
