@page "/getintouch"

<div class="text-center border my-5 rounded">
    <div class="display-6">Contact</div>
    <div class="lead">
        <i class="fa fa-phone text-primary my-3"></i>
        <p>
            (+90) 555 057 9377
        </p>

        <i class="fa-solid fa-location-dot text-primary my-3"></i>
        <p>
            Adnan Menderes Mahallesi Barut Sokak
            Mesut Apartmanı 9/9 Yalova
        </p>

        <i class="fa-regular fa-envelope text-primary my-3"></i>
        <p>
            gunduzvareren@gmail.com
        </p>
    </div>
</div>