@page "/getintouch"

<div class="text-center my-5">
    <div class="display-6 border-bottom">Contact</div>
    <div class="lead mt-5">
        <i class="fa fa-phone bg-secondary text-white p-3 rounded-5 my-3"></i>
        <p>
            (+90) 555 057 9377
        </p>

        <i class="fa fa-address-book bg-secondary text-white p-3 rounded-5 my-3"></i>
        <p>
            Adnan Menderes Mahallesi Barut Sokak
            Mesut Apartmanı 9/9 Yalova
        </p>

        <i class="fa fa-envelope bg-secondary text-white p-3 rounded-5 my-3"></i>
        <p>
            gunduzvareren@gmail.com
        </p>
    </div>
</div>